<!DOCTYPE html>
<html lang="en">

<head>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.0/raphael-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/custom.css" />
    <script src="./js/flowchart.min.js"></script>
    <script src="./js/custom.js"></script>
    <script>

        window.onload = function () {
            let name = "<%= name %>"
            $('[id^=name]').text(name)
            let mob = "<%= mob %>"
            $('[id^=mob]').text(mob);
            let otp = "<%= otp %>"
            $('[id^=otp]').text(otp);
            let dob = "<%= dob %>"
            $('[id^=dob]').text(dob);
            let pin = "<%= pin %>"
            $('[id^=pin]').text(pin);
            let address = "<%= address %>"
            $('[id^=addr]').text(address);
            let pan = "<%= pan %>"
            $('[id^=pan]').text(pan);
            let email = "<%= email %>"
            $('[id^=email]').text(email);
            let resType = "<%= resType %>"
            $('[id^=resitype]').text(resType);
            let empType = "<%= empType %>"
            $('[id^=emptype]').text(empType);
            let empName = "<%= empName %>"
            $('[id^=empname]').text(empName);
            let oemail = "<%= oemail %>"
            $('[id^=oemail]').text(oemail)
            let thanks = "<%= thanks %>"
            $('[id^=thanks]').text(thanks)
        };    </script>

</head>

<body>
    <button type="submit" id="three" style="float: right;" onclick="dateCall(this.id)"> 3 days ago </button>
    <button type="submit" id="two" style="float: right;" onclick="dateCall(this.id)"> 2 days ago </button>
    <button type="submit" id="one" style="float: right;" onclick="dateCall(this.id)"> 1 day ago </button>
    <button type="submit" id="zero" style="float: right;" onclick="dateCall(this.id)"> Today </button>

    <div id="outside">
        <div>
            <textarea id="code2" style="width: 100%;" rows="15">
                start=>start: Apply for EMI Card | start
                thanks=>end: Thankyoustage | end
                name=>operation: NameName
                otp=>operation: OTPOTP
                pin=>operation: Pincodein
                addr=>operation: Full AddressAddr
                pan=>operation: PancardCard
                email=>operation: EmailEmail
                resitype=>operation: ResidencetypeResidence
                emptype=>operation: EmploymentTypeEmployment
                empname=>operation: EmploymentNameEmployment
                oemail=>operation: Office Email Officeoffic
                mob=>operation: MobileNum
                dob=>operation: DOBdob 
                start->name->mob->otp(right)->dob(right)->pin(right)->addr(right)->pan->email->resitype(right)->emptype->empname->oemail->thanks                                 
            </textarea>
        </div>
    </div>
    <div id="canvas"></div>
</body>

</html>